<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="AppLogFile" fileName="app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <!--<Logger name="org.apache.log4j.xml" level="debug"/>-->
        <Root level="info">
            <AppenderRef ref="AppLogFile"/>
        </Root>
        <Logger name="org.hibernate" level="info"/>
        <Logger name="org.hibernate.SQL" level="debug"/>
    </Loggers>
</Configuration>
